.button{
    border-radius: 0;

    &--primary{
        border: 1px solid #000;
        &:hover{
            border: 1px solid #000;
            background-color: #fff;
            color: #000;
        }
        &:focus{
            border: 1px solid #000;
            background-color: #fff;
            color: #000;
        }
    }

    &--secondary{
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        &:hover{
            border: 1px solid #000;
            background-color: #000;
            color: #fff; 
        }
        &:focus{
            border: 1px solid #000;
            background-color: #000;
            color: #fff;
        }
        
    }

}