.title{

    &--hero{
        font-family: "Playfair Display";
        font-size: 5rem;
        line-height: 1.1em;
        font-weight: bold;
    }

    &--page{
        display: inline;
        padding: 0.5rem 1rem;
        color: #fff;
        background-color: #000;
    }

    &--sub{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }
    
    &::before {
        content: "";
        display: inline-block;
        width: 2.5rem;
        border-top: 2px solid black;
        vertical-align: middle;
        margin-right: 1rem;
    }
}